body {
    background-color: white;
}

.topnav {
    overflow: hidden;
    background-color: transparent; /* Adjust background color as needed */
  }
  
  /* navigation bar */
  .topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color:white; 
    color:black;
  }
  
  .topnav a.active {
    color: white; /* Adjust active text color as needed */
  }
  